@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #002941;
    --light-color: #fff;
    --dark-color: #000;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Source Serif Pro', serif;
    font-size: 1.8rem;
    line-height: 1.5;
    background: var(--primary-color);
}


/* Setting List */

ul {
    list-style: none;
}

a {
    color: var(--dark-color);
    text-decoration: none;
}


/* Nav section */

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 3.2rem;
    overflow: hidden;
}


/* NavBar */

header {
    background: var(--light-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative;
    transition: all 0.5s ease;
}

.brand {
    font-size: 2.5rem;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    padding: 1rem;
}

.navbar ul li a {
    display: block;
    border-bottom: 2px solid transparent;
    transition: all .5s ease;
}

.navbar ul li a:hover {
    border-color: var(--primary-color);
}


/* Toggle button */

.toggle-button {
    position: absolute;
    right: 0;
    font-size: 25px;
    display: none;
    transition: all .5s ease;
}

.toggle-button:hover {
    color: #AFADFC;
    transform: rotate(90deg);
}


/* icons */

.icons {
    align-self: center;
    padding-left: 1rem;
}

.icons i {
    background: var(--primary-color);
    color: var(--light-color);
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    font-size: 15px;
    margin-left: .5rem;
}

@media (max-width: 700px) {
    /* Togggle */
    .toggle-button {
        display: flex;
    }
    .navbar ul {
        display: none;
        flex-direction: column;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar ul.active {
        display: flex;
    }
}